In [1]:
#imports 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
#importing sets
path = ("../datasets/data_100000.csv")

In [3]:
#setup
pd.options.display.max_columns = None

In [4]:
#functions
def first_contact(dataframe):
    print("-----------------------------------------")
    print("dataframe shape is :\t")
    print(dataframe.shape)
    print("data_columns are : \n")
    print(dataframe.columns)
    print(dataframe.dtypes)
    print("\n Number of values missing in each columns:\n")
    print(dataframe.isnull().sum())
    print("-----------------------------------------")
    return

def drop_too_much(dataframe,val=0.8):
    """return a list of column where the missing value % is sup to val"""
    if val >1:
        raise ValueError("val should be inf to 1")
    threshold = len(dataframe)*val 
    to_drop =[i for i,x in dataframe.isnull().sum().iteritems() if x>=threshold ]
    return to_drop
    
def searching_possible_transformable_variables(dataframe,v=False):
    for colname,coldata in dataframe.iteritems():
        if coldata.nunique()<= 15 and dataframe[colname].dtypes==object:
            print("For the column "+colname)
            print("The number of unique values is " +str(dataframe[colname].nunique()))
            print(dataframe[colname].value_counts())
            print(dataframe[colname].dtypes)
            continue

In [5]:
NY_dataset = pd.read_csv(path)

> # Reminder TODO :

> - removing col with more then 50% missing values
> - remove the "location" column.  It's redundant
> - converting the "zipcode" column to int
> - the values in columns "vehicle_type_code"1 and 2 can  be consolidated
> - Slice  crash date into month/day/year
> - Slice crash time into  hour/min
> - Or convert date to datetime and create a column InDay with 0/1 value based of the datetime of the accident
> - transform the values of the column "borough" into binaries
> - remove absurd values if there is (now, none were found)
> - maybe divide the values of NY_dataset["contributing_factor_vehicle_1"].value_counts() into more general subset?
> - We have no duplicates
> - We dont need need  to normalize any data
> - We may need to resample some classes
> - find the most dangerous streets
> - deal with missing  values

--------------------------------------------

In [6]:
#Working on a copy
NY_copy = NY_dataset.copy()

- removing col with more then 70% missing values

In [7]:
cols = drop_too_much(NY_copy,val=0.7)

In [8]:
cols

['cross_street_name',
 'contributing_factor_vehicle_3',
 'contributing_factor_vehicle_4',
 'contributing_factor_vehicle_5',
 'vehicle_type_code_3',
 'vehicle_type_code_4',
 'vehicle_type_code_5']

In [9]:
NY_copy[cols].isnull().sum()

cross_street_name                74033
contributing_factor_vehicle_3    91239
contributing_factor_vehicle_4    97760
contributing_factor_vehicle_5    99333
vehicle_type_code_3              91671
vehicle_type_code_4              97853
vehicle_type_code_5              99354
dtype: int64

In [10]:
NY_copy.drop(cols,axis=1,inplace=True)

- remove the "location" column.  It's redundant

In [11]:
NY_copy.drop("location",axis=1,inplace=True)

In [12]:
NY_copy.isnull().sum()

crash_date                           0
crash_time                           0
borough                          35026
zip_code                         35034
latitude                          8035
longitude                         8035
on_street_name                   26009
off_street_name                  52875
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19243
collision_id                         0
vehicle_type_code1                 740
vehicle_type_code2               26589
dtype: int64

In [13]:
NY_copy.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'on_street_name', 'off_street_name',
       'number_of_persons_injured', 'number_of_persons_killed',
       'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
       'number_of_cyclist_injured', 'number_of_cyclist_killed',
       'number_of_motorist_injured', 'number_of_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2'],
      dtype='object')

---------------------------------------------

- Slice crash date into month/day/year
- Slice crash time into hour/min
- Or convert date to datetime and create a column InDay with 0/1 value based of the datetime of the accident

###  "crash_date" column :

In [14]:
NY_copy["crash_date"].head(1)

0    2017-04-18T00:00:00.000
Name: crash_date, dtype: object

In [15]:
NY_copy["crash_date"] = pd.to_datetime(NY_copy["crash_date"],infer_datetime_format=True)

### "crash_time" column :

In [16]:
NY_copy["crash_time"].head(10)

0    23:10
1    13:00
2    17:15
3    20:10
4    14:00
5    10:33
6     6:10
7     9:30
8    13:00
9     1:00
Name: crash_time, dtype: object

In [17]:
# split sur (":")
# convertir  en int
# si entre 6 et 20 >  day else : night
# si  " " > nan

In [18]:
def is_inDay(item_pd_series):
    hour_time = int(item_pd_series.split(":")[0])
    if hour_time > 6 and hour_time < 20:
        return 1
    return 0

In [19]:
NY_copy["is_inDay"]= NY_copy["crash_time"].apply(is_inDay)

In [20]:
NY_copy[["is_inDay","crash_time"]].head()

   is_inDay crash_time
0         0      23:10
1         1      13:00
2         1      17:15
3         0      20:10
4         1      14:00

-----------------------------------------------------------------------------

In [21]:
NY_copy.isnull().sum()

crash_date                           0
crash_time                           0
borough                          35026
zip_code                         35034
latitude                          8035
longitude                         8035
on_street_name                   26009
off_street_name                  52875
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19243
collision_id                         0
vehicle_type_code1                 740
vehicle_type_code2               26589
is_inDay                             0
dtype: int64

##### We still have a lot of missing values.  We  note that zip/code and borough have almost the  same but not latitude and longitude so  maybe  we can fill some with  their coordonates  and fill some lat/long with street  name.

In [22]:
NY_copy["latitude"].value_counts()

0.000000     169
40.861862     79
40.804700     56
40.820305     52
40.675735     48
            ...
40.763430      1
40.807300      1
40.679806      1
40.647750      1
40.748882      1
Name: latitude, Length: 33675, dtype: int64

In [23]:
NY_copy["longitude"].value_counts()

 0.000000     169
-73.912820     83
-73.890630     73
-73.912430     61
-73.890830     58
             ...
-73.833580      1
-74.093710      1
-73.713550      1
-73.772835      1
-74.022964      1
Name: longitude, Length: 26494, dtype: int64

In [24]:
# if there is absurd values and  "streat_name" isnull()>true,  we can conclude that those data are not valuables

In [25]:
to_drop = NY_copy[(NY_copy["latitude"]<=1) & (NY_copy["longitude"]>=-1) | (NY_copy["longitude"]<=77) & (NY_copy["on_street_name"].isnull())].index

In [26]:
NY_copy.drop(to_drop,inplace=True)

In [27]:
NY_copy["latitude"].value_counts()

40.861862    79
40.804700    56
40.820305    52
40.675735    48
40.658577    47
             ..
40.509163     1
40.715565     1
40.704414     1
40.809326     1
40.555523     1
Name: latitude, Length: 19678, dtype: int64

In [28]:
NY_copy["longitude"].value_counts()

-73.912820    82
-73.890630    70
-73.912430    60
-73.890830    57
-73.896860    53
              ..
-73.904594     1
-73.816840     1
-74.222200     1
-73.821040     1
-73.863460     1
Name: longitude, Length: 17539, dtype: int64

In [29]:
# Find lat/long  of borough

In [30]:
NY_copy.groupby(["borough"])["latitude"].min()

borough
BRONX            40.798573
BROOKLYN         40.572750
MANHATTAN        40.701480
QUEENS           40.557280
STATEN ISLAND    40.501465
Name: latitude, dtype: float64

In [31]:
NY_copy.groupby(["borough"])["latitude"].max()

borough
BRONX            40.910320
BROOKLYN         40.737488
MANHATTAN        40.872498
QUEENS           40.797375
STATEN ISLAND    40.648228
Name: latitude, dtype: float64

In [32]:
NY_copy.groupby(["borough"])["longitude"].min()

borough
BRONX           -73.93161
BROOKLYN        -74.04072
MANHATTAN       -74.01794
QUEENS          -73.95933
STATEN ISLAND   -74.24857
Name: longitude, dtype: float64

In [33]:
NY_copy.groupby(["borough"])["longitude"].max()

borough
BRONX           -73.786210
BROOKLYN        -73.857280
MANHATTAN       -73.912160
QUEENS          -73.700584
STATEN ISLAND   -74.061000
Name: longitude, dtype: float64

In [34]:
# Si les long/lat sont entre certains intervalles  on peut déduire le quartier

In [35]:
count = 0
def deduce_borough(item_series):
    bor = ["BRONX","BROOKLYN","MANHATTAN","QUEENS","STATEN ISLAND"]
    global count 
    count +=1
    if item_series not in bor:
        return lat_long_inter(count)
    else:
        return item_series

In [36]:
def lat_long_inter(index):
    x = NY_copy.iloc[count][["longitude","latitude"]]
    if (x["longitude"]>-73.93161 and x["longitude"]<-73.786210):  #and (x["latitude"]>40.798573 and x["latitude"]<-40.910320):
        return "BRONX"
    if (x["longitude"]>-74.04072 and x["longitude"]<-73.857280):
        return "BROOKLYN"
    if (x["longitude"]>-74.01794 and x["longitude"]<-73.912160):
        return "MANHATTAN"
    if (x["longitude"]>-73.95933 and x["longitude"]<-73.700584):
        return "QUEENS"
    if (x["longitude"]>-74.24857 and x["longitude"]<-74.061000):
        return "STATEN ISLAND"
    return "Not declared"

In [37]:
NY_copy["borough deducing"] = NY_copy["borough"].apply(deduce_borough)

In [38]:
NY_copy.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,is_inDay,borough deducing
1,2017-05-06,13:00,BRONX,10472.0,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,3665311,Sedan,NaN,1,BRONX
2,2017-04-27,17:15,QUEENS,11420.0,40.677303,-73.804565,135 STREET,FOCH BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3658491,Sedan,Sedan,1,QUEENS
3,2017-05-09,20:10,NaN,NaN,40.624958,-74.145775,FOREST AVENUE,RICHMOND AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,3666554,Motorcycle,Sedan,0,STATEN ISLAND
5,2017-05-08,10:33,NaN,NaN,40.556454,-74.207770,WEST SHORE EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,3666365,Sedan,Sedan,1,BROOKLYN
6,2017-05-10,6:10,NaN,NaN,40.740025,-73.976260,1 AVENUE,EAST 28 STREET,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,3666842,Taxi,Box Truck,0,BROOKLYN

In [39]:
NY_copy.isnull().sum()

crash_date                           0
crash_time                           0
borough                          34365
zip_code                         34368
latitude                          8035
longitude                         8035
on_street_name                     830
off_street_name                  27669
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      262
contributing_factor_vehicle_2    12593
collision_id                         0
vehicle_type_code1                 503
vehicle_type_code2               17298
is_inDay                             0
borough deducing                     0
dtype: int64

In [40]:
NY_copy.groupby(["borough","zip_code","on_street_name"]).sum().sort_values("number_of_persons_injured",ascending=False)

                                                            latitude  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE               5977.994666
              11203.0  UTICA AVENUE                      3170.816859
QUEENS        11420.0  NORTH CONDUIT AVENUE              3049.976848
STATEN ISLAND 10306.0  HYLAN BOULEVARD                   2190.863466
BROOKLYN      11236.0  ROCKAWAY PARKWAY                  2925.996055
...                                                              ...
QUEENS        11354.0  26 AVE                               0.000000
                       26 AVENUE                           81.548614
                       27 AVENUE                           40.773796
                       28 ROAD                             40.772655
MANHATTAN     10021.0  EAST 70 STREET                     366.909701

                                                            longitude  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE              -10862.363450
              11203.0  UTICA AVENUE                      -5766.568270
QUEENS        11420.0  NORTH CONDUIT AVENUE              -5536.133171
STATEN ISLAND 10306.0  HYLAN BOULEVARD                   -4001.895212
BROOKLYN      11236.0  ROCKAWAY PARKWAY                  -5320.461998
...                                                               ...
QUEENS        11354.0  26 AVE                                0.000000
                       26 AVENUE                          -147.684560
                       27 AVENUE                           -73.846375
                       28 ROAD                             -73.830444
MANHATTAN     10021.0  EAST 70 STREET                     -665.639320

                                                         number_of_persons_injured  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                      83
              11203.0  UTICA AVENUE                                             61
QUEENS        11420.0  NORTH CONDUIT AVENUE                                     54
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                          51
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                         48
...                                                                            ...
QUEENS        11354.0  26 AVE                                                    0
                       26 AVENUE                                                 0
                       27 AVENUE                                                 0
                       28 ROAD                                                   0
MANHATTAN     10021.0  EAST 70 STREET                                            0

                                                         number_of_persons_killed  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                      0
              11203.0  UTICA AVENUE                                             1
QUEENS        11420.0  NORTH CONDUIT AVENUE                                     0
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                          0
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                         2
...                                                                           ...
QUEENS        11354.0  26 AVE                                                   0
                       26 AVENUE                                                0
                       27 AVENUE                                                0
                       28 ROAD                                                  0
MANHATTAN     10021.0  EAST 70 STREET                                           0

                                                         number_of_pedestrians_injured  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                           5
              11203.0  UTICA AVENUE                                                  7
QUEENS        11420.0  NORTH CONDUIT AVENUE                                          1
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                               7
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                              7
...                                                                                ...
QUEENS        11354.0  26 AVE                                                        0
                       26 AVENUE                                                     0
                       27 AVENUE                                                     0
                       28 ROAD                                                       0
MANHATTAN     10021.0  EAST 70 STREET                                                0

                                                         number_of_pedestrians_killed  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                          0
              11203.0  UTICA AVENUE                                                 0
QUEENS        11420.0  NORTH CONDUIT AVENUE                                         0
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                              0
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                             0
...                                                                               ...
QUEENS        11354.0  26 AVE                                                       0
                       26 AVENUE                                                    0
                       27 AVENUE                                                    0
                       28 ROAD                                                      0
MANHATTAN     10021.0  EAST 70 STREET                                               0

                                                         number_of_cyclist_injured  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                       4
              11203.0  UTICA AVENUE                                              3
QUEENS        11420.0  NORTH CONDUIT AVENUE                                      0
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                           1
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                          1
...                                                                            ...
QUEENS        11354.0  26 AVE                                                    0
                       26 AVENUE                                                 0
                       27 AVENUE                                                 0
                       28 ROAD                                                   0
MANHATTAN     10021.0  EAST 70 STREET                                            0

                                                         number_of_cyclist_killed  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                      0
              11203.0  UTICA AVENUE                                             0
QUEENS        11420.0  NORTH CONDUIT AVENUE                                     0
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                          0
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                         0
...                                                                           ...
QUEENS        11354.0  26 AVE                                                   0
                       26 AVENUE                                                0
                       27 AVENUE                                                0
                       28 ROAD                                                  0
MANHATTAN     10021.0  EAST 70 STREET                                           0

                                                         number_of_motorist_injured  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                       74
              11203.0  UTICA AVENUE                                              51
QUEENS        11420.0  NORTH CONDUIT AVENUE                                      53
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                           43
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                          40
...                                                                             ...
QUEENS        11354.0  26 AVE                                                     0
                       26 AVENUE                                                  0
                       27 AVENUE                                                  0
                       28 ROAD                                                    0
MANHATTAN     10021.0  EAST 70 STREET                                             0

                                                         number_of_motorist_killed  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                                       0
              11203.0  UTICA AVENUE                                              1
QUEENS        11420.0  NORTH CONDUIT AVENUE                                      0
STATEN ISLAND 10306.0  HYLAN BOULEVARD                                           0
BROOKLYN      11236.0  ROCKAWAY PARKWAY                                          2
...                                                                            ...
QUEENS        11354.0  26 AVE                                                    0
                       26 AVENUE                                                 0
                       27 AVENUE                                                 0
                       28 ROAD                                                   0
MANHATTAN     10021.0  EAST 70 STREET                                            0

                                                         collision_id  \
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                  626268568
              11203.0  UTICA AVENUE                         330368630
QUEENS        11420.0  NORTH CONDUIT AVENUE                 328377015
STATEN ISLAND 10306.0  HYLAN BOULEVARD                      228601402
BROOKLYN      11236.0  ROCKAWAY PARKWAY                     310325362
...                                                               ...
QUEENS        11354.0  26 AVE                                 4178676
                       26 AVENUE                              8491158
                       27 AVENUE                              4181302
                       28 ROAD                                4311115
MANHATTAN     10021.0  EAST 70 STREET                        38188891

                                                         is_inDay
borough       zip_code on_street_name
BROOKLYN      11207.0  PENNSYLVANIA AVENUE                     86
              11203.0  UTICA AVENUE                            44
QUEENS        11420.0  NORTH CONDUIT AVENUE                    54
STATEN ISLAND 10306.0  HYLAN BOULEVARD                         42
BROOKLYN      11236.0  ROCKAWAY PARKWAY                        40
...                                                           ...
QUEENS        11354.0  26 AVE                                   1
                       26 AVENUE                                2
                       27 AVENUE                                0
                       28 ROAD                                  1
MANHATTAN     10021.0  EAST 70 STREET                           9

[6992 rows x 12 columns]

In [41]:
NY_copy.groupby(["is_inDay","borough"]).sum().drop(["zip_code","latitude","longitude","collision_id"],axis=1)

                        number_of_persons_injured  number_of_persons_killed  \
is_inDay borough
0        BRONX                               1000                         7
         BROOKLYN                            2133                        13
         MANHATTAN                            808                         6
         QUEENS                              1559                        14
         STATEN ISLAND                        200                         1
1        BRONX                               2126                         7
         BROOKLYN                            3941                        16
         MANHATTAN                           1469                        11
         QUEENS                              3385                        14
         STATEN ISLAND                        457                         4

                        number_of_pedestrians_injured  \
is_inDay borough
0        BRONX                                    138
         BROOKLYN                                 241
         MANHATTAN                                127
         QUEENS                                   153
         STATEN ISLAND                             19
1        BRONX                                    300
         BROOKLYN                                 603
         MANHATTAN                                341
         QUEENS                                   430
         STATEN ISLAND                             46

                        number_of_pedestrians_killed  \
is_inDay borough
0        BRONX                                     2
         BROOKLYN                                  1
         MANHATTAN                                 3
         QUEENS                                    5
         STATEN ISLAND                             0
1        BRONX                                     1
         BROOKLYN                                  7
         MANHATTAN                                 7
         QUEENS                                    7
         STATEN ISLAND                             0

                        number_of_cyclist_injured  number_of_cyclist_killed  \
is_inDay borough
0        BRONX                                142                         0
         BROOKLYN                             307                         3
         MANHATTAN                            212                         1
         QUEENS                               156                         1
         STATEN ISLAND                          8                         0
1        BRONX                                273                         3
         BROOKLYN                             695                         5
         MANHATTAN                            420                         2
         QUEENS                               421                         0
         STATEN ISLAND                         30                         1

                        number_of_motorist_injured  number_of_motorist_killed
is_inDay borough
0        BRONX                                 720                          5
         BROOKLYN                             1585                          9
         MANHATTAN                             469                          2
         QUEENS                               1250                          8
         STATEN ISLAND                         173                          1
1        BRONX                                1553                          3
         BROOKLYN                             2643                          4
         MANHATTAN                             707                          2
         QUEENS                               2534                          7
         STATEN ISLAND                         381                          3

- transform the values of the column "borough" into binaries

In [42]:
test = pd.get_dummies(NY_copy["borough deducing"],prefix="borough_is")

In [43]:
test

,borough_is_BRONX,borough_is_BROOKLYN,borough_is_MANHATTAN,borough_is_Not declared,borough_is_QUEENS,borough_is_STATEN ISLAND
1,1,0,0,0,0,0
2,0,0,0,0,1,0
3,0,0,0,0,0,1
5,0,1,0,0,0,0
6,0,1,0,0,0,0
...,...,...,...,...,...,...
99990,0,1,0,0,0,0
99991,0,1,0,0,0,0
99994,0,1,0,0,0,0
99997,0,1,0,0,0,0
99999,0,0,1,0,0,0

In [44]:
NY_copy = pd.concat([NY_copy,test],axis=1)

In [45]:
NY_copy.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'on_street_name', 'off_street_name',
       'number_of_persons_injured', 'number_of_persons_killed',
       'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
       'number_of_cyclist_injured', 'number_of_cyclist_killed',
       'number_of_motorist_injured', 'number_of_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2', 'is_inDay',
       'borough deducing', 'borough_is_BRONX', 'borough_is_BROOKLYN',
       'borough_is_MANHATTAN', 'borough_is_Not declared', 'borough_is_QUEENS',
       'borough_is_STATEN ISLAND'],
      dtype='object')

---------------------------------------------------------------------------------------------------

- the values in columns "vehicle_type_code"1 and 2 can be consolidated

The goal is to reunite some type into subtype.

In [46]:
vehicles = [*map(str.lower,list(NY_copy["vehicle_type_code1"].value_counts().index))]

In [47]:
medical_type = []
for infos in vehicles:
    if "ambul" in infos or "ambu" in infos:
        medical_type.append(infos)

In [48]:
car_type = []
for infos in vehicles:
    if "car" in infos or "sedan" in infos or "cab" in infos or "chevr" in infos:
        car_type.append(infos)

In [49]:
two_weels_type = []
for infos in vehicles:
    if "scoot" in infos or "cycle" in infos or "mot" in infos:
        two_weels_type.append(infos)

In [50]:
deliv_type = [ truck for truck in vehicles if "deli" in truck]

In [51]:
truck_type = [ truck for truck in vehicles if "truck" in truck]
for infos in vehicles:
    if "util" in infos or "wagon" in infos:
        truck_type.append(infos)

In [52]:
def vehicle_type(item):
    item = str(item).lower()
    if item in medical_type:
        return "Medical"
    if item in car_type:
        return "Car"
    if item in two_weels_type:
        return "MotoCycle"
    if item in deliv_type:
        return "Delivery Vehicle"
    if item in truck_type:
        return "Truck"
    else:
        return "Others Category"

In [53]:
NY_copy["assert_vehicle_type_code1"] = NY_copy["vehicle_type_code1"].apply(vehicle_type)

In [54]:
NY_copy["assert_vehicle_type_code2"] = NY_copy["vehicle_type_code2"].apply(vehicle_type)

In [55]:
NY_copy

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,is_inDay,borough deducing,borough_is_BRONX,borough_is_BROOKLYN,borough_is_MANHATTAN,borough_is_Not declared,borough_is_QUEENS,borough_is_STATEN ISLAND,assert_vehicle_type_code1,assert_vehicle_type_code2
1,2017-05-06,13:00,BRONX,10472.0,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,3665311,Sedan,NaN,1,BRONX,1,0,0,0,0,0,Car,Others Category
2,2017-04-27,17:15,QUEENS,11420.0,40.677303,-73.804565,135 STREET,FOCH BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3658491,Sedan,Sedan,1,QUEENS,0,0,0,0,1,0,Car,Car
3,2017-05-09,20:10,NaN,NaN,40.624958,-74.145775,FOREST AVENUE,RICHMOND AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,3666554,Motorcycle,Sedan,0,STATEN ISLAND,0,0,0,0,0,1,MotoCycle,Car
5,2017-05-08,10:33,NaN,NaN,40.556454,-74.207770,WEST SHORE EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,3666365,Sedan,Sedan,1,BROOKLYN,0,1,0,0,0,0,Car,Car
6,2017-05-10,6:10,NaN,NaN,40.740025,-73.976260,1 AVENUE,EAST 28 STREET,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,3666842,Taxi,Box Truck,0,BROOKLYN,0,1,0,0,0,0,Others Category,Truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99990,2019-11-08,19:20,BROOKLYN,11218.0,NaN,NaN,OCEAN PARKWAY,AVENUE C,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4238828,Sedan,Sedan,1,BROOKLYN,0,1,0,0,0,0,Car,Car
99991,2019-11-11,15:55,NaN,NaN,40.661540,-73.982740,16 STREET,NaN,0,0,0,0,0,0,0,0,Outside Car Distraction,Unspecified,4239244,Sedan,Station Wagon/Sport Utility Vehicle,1,BROOKLYN,0,1,0,0,0,0,Car,Truck
99994,2019-11-15,13:05,BROOKLYN,11206.0,40.701862,-73.943830,WHIPPLE STREET,BROADWAY,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4242657,Sedan,Station Wagon/Sport Utility Vehicle,1,BROOKLYN,0,1,0,0,0,0,Car,Truck
99997,2019-11-21,21:30,BROOKLYN,11249.0,40.710820,-73.968530,BROADWAY,KENT AVENUE,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4245290,Sedan,Box Truck,0,BROOKLYN,0,1,0,0,0,0,Car,Truck
99999,2019-11-17,20:42,MANHATTAN,10017.0,40.750760,-73.968430,EAST 45 STREET,1 AVENUE,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4247517,Sedan,Station Wagon/Sport Utility Vehicle,0,MANHATTAN,0,0,1,0,0,0,Car,Truck

# Now that we have done that, we can  transform those columns into binaries values

In [56]:
test = pd.get_dummies(NY_copy["assert_vehicle_type_code1"],prefix="vehicle1_type_is")

In [57]:
NY_copy = pd.concat([NY_copy,test],axis=1)

In [58]:
test = pd.get_dummies(NY_copy["assert_vehicle_type_code2"],prefix="vehicle2_type_is")

In [59]:
NY_copy = pd.concat([NY_copy,test],axis=1)

In [60]:
NY_copy.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,collision_id,vehicle_type_code1,vehicle_type_code2,is_inDay,borough deducing,borough_is_BRONX,borough_is_BROOKLYN,borough_is_MANHATTAN,borough_is_Not declared,borough_is_QUEENS,borough_is_STATEN ISLAND,assert_vehicle_type_code1,assert_vehicle_type_code2,vehicle1_type_is_Car,vehicle1_type_is_Delivery Vehicle,vehicle1_type_is_Medical,vehicle1_type_is_MotoCycle,vehicle1_type_is_Others Category,vehicle1_type_is_Truck,vehicle2_type_is_Car,vehicle2_type_is_Delivery Vehicle,vehicle2_type_is_Medical,vehicle2_type_is_MotoCycle,vehicle2_type_is_Others Category,vehicle2_type_is_Truck
1,2017-05-06,13:00,BRONX,10472.0,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,3665311,Sedan,NaN,1,BRONX,1,0,0,0,0,0,Car,Others Category,1,0,0,0,0,0,0,0,0,0,1,0
2,2017-04-27,17:15,QUEENS,11420.0,40.677303,-73.804565,135 STREET,FOCH BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,3658491,Sedan,Sedan,1,QUEENS,0,0,0,0,1,0,Car,Car,1,0,0,0,0,0,1,0,0,0,0,0
3,2017-05-09,20:10,NaN,NaN,40.624958,-74.145775,FOREST AVENUE,RICHMOND AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,3666554,Motorcycle,Sedan,0,STATEN ISLAND,0,0,0,0,0,1,MotoCycle,Car,0,0,0,1,0,0,1,0,0,0,0,0
5,2017-05-08,10:33,NaN,NaN,40.556454,-74.207770,WEST SHORE EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,3666365,Sedan,Sedan,1,BROOKLYN,0,1,0,0,0,0,Car,Car,1,0,0,0,0,0,1,0,0,0,0,0
6,2017-05-10,6:10,NaN,NaN,40.740025,-73.976260,1 AVENUE,EAST 28 STREET,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,3666842,Taxi,Box Truck,0,BROOKLYN,0,1,0,0,0,0,Others Category,Truck,0,0,0,0,1,0,0,0,0,0,0,1

In [61]:
NY_copy.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'on_street_name', 'off_street_name',
       'number_of_persons_injured', 'number_of_persons_killed',
       'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
       'number_of_cyclist_injured', 'number_of_cyclist_killed',
       'number_of_motorist_injured', 'number_of_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2', 'is_inDay',
       'borough deducing', 'borough_is_BRONX', 'borough_is_BROOKLYN',
       'borough_is_MANHATTAN', 'borough_is_Not declared', 'borough_is_QUEENS',
       'borough_is_STATEN ISLAND', 'assert_vehicle_type_code1',
       'assert_vehicle_type_code2', 'vehicle1_type_is_Car',
       'vehicle1_type_is_Delivery Vehicle', 'vehicle1_type_is_Medical',
       'vehicle1_type_is_MotoCycle', 'vehicle1_type_is_Others Category',
       'vehicle1_type_is_Truck', 'vehicle2_type_is_Car',
       'vehicle2_type_is_Delivery Vehicle', 'vehicle2_type_is_Medical',
       'vehicle2_type_is_MotoCycle', 'vehicle2_type_is_Others Category',
       'vehicle2_type_is_Truck'],
      dtype='object')

In [62]:
len(NY_copy.columns)

43

# FINAL :

In [68]:
final = NY_copy.copy()

In [69]:
final.drop(["borough","vehicle_type_code1","vehicle_type_code2","borough deducing","assert_vehicle_type_code1","assert_vehicle_type_code2","collision_id"],inplace=True,axis=1)

In [70]:
final.head()

,crash_date,crash_time,zip_code,latitude,longitude,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,is_inDay,borough_is_BRONX,borough_is_BROOKLYN,borough_is_MANHATTAN,borough_is_Not declared,borough_is_QUEENS,borough_is_STATEN ISLAND,vehicle1_type_is_Car,vehicle1_type_is_Delivery Vehicle,vehicle1_type_is_Medical,vehicle1_type_is_MotoCycle,vehicle1_type_is_Others Category,vehicle1_type_is_Truck,vehicle2_type_is_Car,vehicle2_type_is_Delivery Vehicle,vehicle2_type_is_Medical,vehicle2_type_is_MotoCycle,vehicle2_type_is_Others Category,vehicle2_type_is_Truck
1,2017-05-06,13:00,10472.0,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
2,2017-04-27,17:15,11420.0,40.677303,-73.804565,135 STREET,FOCH BOULEVARD,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0
3,2017-05-09,20:10,NaN,40.624958,-74.145775,FOREST AVENUE,RICHMOND AVENUE,1,0,0,0,0,0,1,0,Unspecified,Unspecified,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
5,2017-05-08,10:33,NaN,40.556454,-74.207770,WEST SHORE EXPRESSWAY,NaN,0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
6,2017-05-10,6:10,NaN,40.740025,-73.976260,1 AVENUE,EAST 28 STREET,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1

In [72]:
final.fillna("Unspecified",axis=1,inplace=True)

In [73]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74703 entries, 1 to 99999
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   crash_date                         74703 non-null  datetime64[ns]
 1   crash_time                         74703 non-null  object
 2   zip_code                           74703 non-null  object
 3   latitude                           74703 non-null  object
 4   longitude                          74703 non-null  object
 5   on_street_name                     74703 non-null  object
 6   off_street_name                    74703 non-null  object
 7   number_of_persons_injured          74703 non-null  int64
 8   number_of_persons_killed           74703 non-null  int64
 9   number_of_pedestrians_injured      74703 non-null  int64
 10  number_of_pedestrians_killed       74703 non-null  int64
 11  number_of_cyclist_injured          74703 non-null  int64
 12  number_of_cyclist_killed           74703 non-null  int64
 13  number_of_motorist_injured         74703 non-null  int64
 14  number_of_motorist_killed          74703 non-null  int64
 15  contributing_factor_vehicle_1      74703 non-null  object
 16  contributing_factor_vehicle_2      74703 non-null  object
 17  is_inDay                           74703 non-null  int64
 18  borough_is_BRONX                   74703 non-null  uint8
 19  borough_is_BROOKLYN                74703 non-null  uint8
 20  borough_is_MANHATTAN               74703 non-null  uint8
 21  borough_is_Not declared            74703 non-null  uint8
 22  borough_is_QUEENS                  74703 non-null  uint8
 23  borough_is_STATEN ISLAND           74703 non-null  uint8
 24  vehicle1_type_is_Car               74703 non-null  uint8
 25  vehicle1_type_is_Delivery Vehicle  74703 non-null  uint8
 26  vehicle1_type_is_Medical           74703 non-null  uint8
 27  vehicle1_type_is_MotoCycle         74703 non-null  uint8
 28  vehicle1_type_is_Others Category   74703 non-null  uint8
 29  vehicle1_type_is_Truck             74703 non-null  uint8
 30  vehicle2_type_is_Car               74703 non-null  uint8
 31  vehicle2_type_is_Delivery Vehicle  74703 non-null  uint8
 32  vehicle2_type_is_Medical           74703 non-null  uint8
 33  vehicle2_type_is_MotoCycle         74703 non-null  uint8
 34  vehicle2_type_is_Others Category   74703 non-null  uint8
 35  vehicle2_type_is_Truck             74703 non-null  uint8
dtypes: datetime64[ns](1), int64(9), object(8), uint8(18)
memory usage: 12.1+ MB